.container-1{
    border: 1px solid black;
    margin: 0 auto;
    width: 70vw;
}
.flex-box-container-1{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
h2{
    text-align: center;
}
